<h2>Bookings</h2>
<div style="margin-bottom:20px;margin-top:20px;">
  <!-- <button class="btn btn-success" (click)="onSelectBookings()">Select bookings</button> -->
  <p>Sum of displayed data: <b>{{sum}}</b> Moneys</p>
  <p>Total Balance: <b>{{balance}}</b> Moneys</p>
  <button class="btn btn-success" (click)="onBack()">Back ...</button>
</div>

<div id="filterDiv" class="row">
  <div class="row col-sm-9">
    <div class="col-sm-4">
      <label for="type" class="col-form-label">Type</label>
      <select id="type" required class="form-control" name="type" [(ngModel)]="filter.type">
        <option value=1>Income</option>
        <option value=0>Spending</option>
      </select>
    </div>
    <div class="col-sm-4">
      <label for="from" class="col-form-label">From</label>
      <input type="date" class="form-control" name="from" [(ngModel)]="filter.from">
    </div>
    <div class="col-sm-4">
      <label for="to" class="col-form-label">To</label>
      <input type="date" class="form-control" name="from" [(ngModel)]="filter.to">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="align-bottom">
      <button type="submit" class="btn btn-success" (click)="onFilter()">Filter</button>
      <button type="submit" class="btn btn-success" (click)="onClearFilter()">Clear Filter</button>
    </div>

  </div>
</div>
<table class="table" style="margin-top:20px">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col" class="hide-small">Text</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <th scope="row">{{booking.dateString}}</th>
      <td>{{booking.type == 0 ? 'Spending' : 'Income'}}</td>
      <td [ngClass]="{'red': booking.type == 0, 'green': booking.type == 1}">{{booking.amount}}</td>
      <td class="hide-small">{{booking.text}}</td>
      <td><button value="{{booking.id}}" id="buttonEdit" (click)="onEdit($event)" class="fa fa-pencil blue action"
          aria-hidden="true"></button>&nbsp;
        <button value="{{booking.id}}" id="buttonDelete" (click)="onDelete($event)" class="fa fa-trash red action"
          aria-hidden="true"></button></td>
    </tr>
  </tbody>
</table>