<div class="card">
    <div class="card-body">
        <h2 class="card-title">Overview</h2>
        <p>Welcome to "MySpenings" Application.</p>
        <p>You can add, edit, and delete spendings. You can also view a
            list of all your spendings.
        </p>


        <h3>Your Balance: </h3>
        <p>{{balance.balance}} Moneys</p>

        <button class="btn btn-success" (click)="onShowBookings()" [disabled]="!login.form.valid">Show All</button>
        <button class="btn btn-success" (click)="onAddNew()">Add New</button>
    </div>
</div>